html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.map-bg {
  background-color: #f8fafc;
  background-image: radial-gradient(#e2e8f0 1.5px, transparent 1.5px);
  background-size: 24px 24px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes floatEffect {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.pin-float {
  animation: floatEffect 4s ease-in-out infinite;
}

@keyframes slowZoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-slow-zoom {
  animation: slowZoom 20s ease-in-out infinite;
}

/* Стили для маршрута Яндекс Карт */
.ymaps-2-1-79-route-pin {
  z-index: 9999 !important;
}

.ymaps-2-1-79-route-pin__icon {
  background-color: #0ea5e9 !important;
}

